.root
  position relative

.codeEditor
  //position relative
  absolute top bottom left right

.hide
  z-index 0
  opacity 0
  pointer-events none

.codeEditor--hide
  @extend .codeEditor
  @extend .hide

.fill
  width 100%
  height 100%

.preview
  // absolute top bottom left right
  background-color white
  height 100%
  width 100%

.preview-wtoc
  absolute left
  height 100%
  width: calc(100% - 200px);

.toc
  absolute right
  padding 15px
  height 100%
  width 200px

.preview--hide
  @extend .preview
  @extend .hide

